* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    font-family: Oswald, sans-serif;
    letter-spacing: 4px;
    color: #333;
  }

/*Styling of heading and logo */

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #063970;
    position: fixed;
    z-index: 9999;
    padding: 10px 2.5%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

header h2 a {
    font-family: Oswald, sans-serif;
    font-size: 20px;
    letter-spacing: 4px;
    color: #eeeee4;
    text-decoration: none;
    }


.menu_container li {
    flex-direction: column;
    list-style: none;
    padding: 0.5em;
    text-align: center;
    }

.menu_container li a {
    font-family: Oswald, sans-serif;
    font-weight: 400;
    letter-spacing: 4px;
    color: #eeeee4;
    text-decoration: none;
    padding: 0.5em;
    transition-duration: 0.4s
}

nav a:hover {
    background: #eeeee4;
    color: #063970;
}

/* hero image and hero text */

.hero_image {
    display: flex;
    height: 100vh;
    background-image: url(../img/Safe_Enjoyable_Sea_Kayaking.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero_text {
    width: 100%;
    text-align: center;
    margin-top: 300px;
    }

.hero_text h1, p, a {
    padding: 10px;
    margin: 10px;
}

.connect {
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    padding: 1em;
    background-color: #063970;
    color: #eeeee4;
    border-radius: 8px;
    transition-duration: 0.4s;
    text-decoration: none;
}

.connect:hover {
    background-color: #eeeee4;
    color: #063970;
}

/* Styling Kayaking Section */

.kayaking_gear_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: auto;
}

.kayaking_gear_header {
    padding: 20px;
}

.kayaking_desc_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 20px;
}

.clothes_desc {
    max-width: 33%;
    padding: 20px;
    text-align: center;
}

.clothes_desc ul li {
    list-style: none;
    text-align: inherit;
}

#clothes_img {
    
    width: 100%;
    height: 30vh;
    padding: 20px;
    border-radius: 30px;
    background: url(../img/kayak_safety.jpg) no-repeat center center;    
}

.paddle_desc {
    
    max-width: 33%;
    padding: 20px;
    text-align: center;
}

.paddle_desc ul {
    list-style: none;
    text-align: inherit;
}

#paddle_img {
    
    width: 100%;
    height: 30vh;
    padding: 20px;
    border-radius: 30px;
    background: url(../img/paddles.jpg) no-repeat center center;    
}

.kayak_desc {
    max-width: 33%;
    padding: 20px;
    text-align: center;
}

.kayak_desc ul {
    list-style: none;
    text-align: inherit;
    font-size: 120%;
}

#kayak_img {
    
    width: 100%;
    height: 30vh;
    padding: 20px;
    border-radius: 30px;
    background: url(../img/kayaks.jpg) no-repeat center center;    
}


/* Styling Kayaking technique section */

#kayaking_tech {
    background-color: aqua;
    display: flex;
    height: 100vh;
}

/* Styling About us and contact section */

#about {
    display: flex;
    height: 100vh;
    background-color: aliceblue;
}

/* Styling footer section */

footer {
    display: flex;
    height: 30px;
    background-color: aqua;
}

/* Small Screen */

@media screen and (max-widh: 425px) {
    .menu_container li {
        flex-direction: column;
        list-style: none;
        
    }
}


/* Medium screens*/
@media screen and (min-width: 768px) {
    .menu_container li {
        flex-direction: row;
        display: inline-flex;
    }
}

/* Large screens*/
@media screen and (min-width: 1440px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    .hero_text h1 {
        font-size: 40px;
    }

    .hero_text p {
        font-size: 20px;
    }

    header h2 a {
        font-size: 40px;
    }

    .menu_container li a {
        font-size: 25px;
    }


}