* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}


/* heading and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    letter-spacing: 4px;
    color: #333;
  }

header {
    height: 75px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    position: fixed;
    background-color: white;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#logo, #menu {
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    background: #333;
    color: white;
}

/* hero image and hero text */

.hero_image {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: aqua;
    margin-top: 75px;
}

.hero_text {
    width: 100%;
    text-align: center;
    margin-top: 300px;
}

.kayaking {
    background-color: aliceblue;
}

.kayaking_tech {
    background-color: aqua;
}

.about {
    background-color: aliceblue;
}

footer {
    background-color: aqua;
}