* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* heading and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    letter-spacing: 4px;
    color: #333;
  }

.menu_container {
    background-color: rgb(188, 188, 202);
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.logo {
    background-color: blueviolet;
    color: aliceblue;
    font-size: 35px;
    padding: 20px;
    text-decoration: none;
    align-self: flex-start;
}

.nav {
    background-color: blueviolet;
    color: aliceblue;
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
    justify-content: flex-end;
    }

.nav a:hover {
    background: #333;
    color: white;
}

/* hero image and hero text */

.hero_image {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: aqua;
    margin-top: 75px;
}

.hero_text {
    width: 100%;
    text-align: center;
    margin-top: 300px;
}

.kayaking {
    background-color: aliceblue;
}

.kayaking_tech {
    background-color: aqua;
}

.about {
    background-color: aliceblue;
}

footer {
    background-color: aqua;
}